body {
  font-size: 16px;
  background-repeat: no-repeat;
  background-image: url("../images/pattern-background-desktop.svg");
  background-color: #e0e8ff;
  font-family: "Red Hat Display", sans-serif;
}

.container {
  margin: 140px 33.7% 50px;
  width: 33.6%;
  font-family: Red Hat Display;
  background-color: #ffffff;
  height: 670px;
  border-radius: 20px;
}
.img {
  border-radius: 20px 20px 0 0;
}
p {
  color: #8d91ac;
  font-size: 16px;
  margin: 13px 42px;
  line-height: 25px;
}

h1 {
  color: #1b2751;
}
h1,
p {
  text-align: center;
}

/* str annul */
.annual-plan {
  background-color: hsl(225, 100%, 98%);
  padding: 25px;
  width: 335px;
  margin: 0 35px 0;
}

.annual-plan1 {
  position: absolute;
  margin-top: 3px;
  margin-left: 71px;
  /* color: hsl(224, 23%, 55%); */
  color: #1f2f56;
  /* color: hsl(225, 100%, 94%); */
  /* color: hsl(245, 75%, 52%); */
}

.annual-plan img {
  margin: 0 10px -3px;
}

span {
  color: #9096b8;
}

a {
  margin: 13px 8%;
  position: absolute;
}

.proceedToPayment {
  color: #f3f3f3;
  padding: 10px;
  box-shadow: 3px 19px 34px hsl(245deg 40% 76%);
  border-radius: 5px;
  background-color: hsl(245, 75%, 52%);
  text-align: center;
  width: 358px;
  text-align: center;
  margin: 30px auto;
}

.cancelOrder {
  text-align: center;
  color: #717070;
  margin-top: 30px;
}
div[role=attr]  {
  margin: 0 40.33% 0;
}
 a[href*="frontendmentor"],a[href^="#"] {
  margin: 3px 5px;
  text-decoration-line: none;
  cursor: pointer;

}
/*end annul */


/* str  media mobile */


@media (min-width: 375px) and (max-width:500px){

.container {
  margin:  150px 8.7% 50px;
  width: 300px;
  font-family: "Red Hat Display", sans-serif;
  background-color: #ffffff;
  height: 508px;
  border-radius: 20px;
  box-shadow: 0px 5px 30px hsl(245deg 40% 76%);
}
.img {
  border-radius: 20px 20px 0 0;
  width: 300px;
}
p {
  color: #7e829c;
  font-size: 16px;
  margin: 18px;
  line-height: 25px;

}

h1 {
  width: 300px;
  color: #1b2751;
  font-size:18px 
}
h1,
p {
  text-align: center;
}

/* str annul */
.annual-plan {
  background-color: hsl(225, 100%, 98%);
  padding: 20px;
  height: 23px;
  width: 205px;
  margin: 0 29px 0;
}


.annual-plan1 {
  position: absolute;
  margin-top: -5px;
  margin-left: 49px;
  /* color: hsl(224, 23%, 55%); */
  color: #1f2f56;
  /* color: hsl(225, 100%, 94%); */
  /* color: hsl(245, 75%, 52%); */
}

.annual-plan img {
  margin:-12px -12px -7px;
}

span {
  color: #9096b8;
  margin: 0 20px;
    font-weight: bold;
    font-size: small;
}


a {
  position: absolute;
  margin: 3px 5%;
    position: absolute;
    font-weight: bold;
    font-size: 14px;

}

.proceedToPayment {
  color: #f3f3f3;
  padding: 10px;
  box-shadow: 3px 19px 34px hsl(245deg 40% 76%);
  border-radius: 12px;
  background-color: hsl(245, 75%, 52%);
  text-align: center;
  width: 247px;
  text-align: center;
  margin: 30px auto;
}

.cancelOrder {
  text-align: center;
  color: #666666;
  margin-top: 30px;
  font-weight: bold;
  font-size: 16px;
}
}
/* end media mobile */

/* str meida m and l */
@media (min-width: 1000px) and (max-width:1440px){


.container {
  margin: 140px 33.7% 50px;
  width: 33%;
  font-family: Red Hat Display;
  background-color: #ffffff;
  height: 670px;
  border-radius: 20px;
}
.img {
  border-radius: 20px 20px 0 0;
  width:100%;
}
p {
  color: #8d91ac;
  font-size: 16px;
  margin: 13px 42px;
  line-height: 25px;
}

h1 {
  color: #1b2751;
}
h1,
p {
  text-align: center;
}

/* str annul */
.annual-plan {
  background-color: hsl(225, 100%, 98%);
  padding: 25px;
  width: 335px;
  margin: 0 35px 0;
}

.annual-plan1 {
  position: absolute;
  margin-top: 3px;
  margin-left: 71px;
  /* color: hsl(224, 23%, 55%); */
  color: #1f2f56;
  /* color: hsl(225, 100%, 94%); */
  /* color: hsl(245, 75%, 52%); */
}

.annual-plan img {
  margin: 0 10px -3px;
}

span {
  color: #9096b8;
}

a {
  margin: 13px 8%;
  position: absolute;
}

.proceedToPayment {
  color: #f3f3f3;
  padding: 10px;
  box-shadow: 3px 19px 34px hsl(245deg 40% 76%);
  border-radius: 5px;
  background-color: hsl(245, 75%, 52%);
  text-align: center;
  width: 358px;
  text-align: center;
  margin: 30px auto;
}

.cancelOrder {
  text-align: center;
  color: #717070;
  margin-top: 30px;
}
}
/*end annul */




/* end meida m and l */